<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-white dark:bg-gray-900">
<section class="">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="text-center mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                JordyBSK's blog</h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Welcome to the best blog in
                Switzerland</p>

            <h2 class="text-center mb-4 text-3xl lg:text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white mt-12">
                click here to add an article to your blog</h2>
            <a href="http://localhost:8080/add-article"
               class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">
                ajouter un article
            </a>
        </div>
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <form method="get">
                <select class="inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
                        id="categories" name="categories">
                    <option value="1">Technologie</option>
                    <option value="2">Jardinage</option>
                    <option value="3">Santé</option>
                    <option value="4">Productivité</option>
                    <option value="5">Musique</option>
                    <option value="6">Marketing</option>
                    <option value="7">Voyage</option>
                    <option value="8">Beauté</option>
                    <option value="9">Entrepreneuriat</option>
                    <option value="10">Santé mentale</option>
                    <option value="11">cuisine</option>
                </select>
                <button class="inline-flex items-center justify-center p-5 text-base font-medium text-white-800 rounded-lg bg-indigo-600 hover:bg-indigo-800 dark:text-gray-400 dark:bg-indigo-600 dark:bg-indigo-700 ">
                    sort
                </button>
            </form>

            <form method="get" class="max-w-md mx-auto mt-12 flex">
                <label>
                    <input name="search" class=" mr-4 inline-flex items-center justify-center p-5 text-base font-medium text-gray-500 rounded-lg bg-gray-50 hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white" placeholder="search" value=""></input>
                </label>
                <button type="submit" name="searchBtn"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    search
                </button>
                <button type="submit" name="searchReset"
                        class="text-white ml-4 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    reset
                </button>
            </form>
        </div>


        <div class="grid gap-8 lg:grid-cols-2">

            {% for articleIndex, article in allArticles%}

                <article
                        class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                    <div class="h-64 bg-cover hover:bg-gray"
                         style="background-image: url('{{ article['picture-link'] }}')"></div>
                    <div class="flex justify-between items-center mb-5 text-gray-500">
                        <span class="text-sm mt-2">{{ pubDate[articleIndex]|e }}</span>
                    </div>
                    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a
                                href="http://localhost:8080/article/{{ article['id']|e }}">        {{ article["titre"]|e }}</a>
                    </h2>
                    {{ article["categorie"]|e }}
                    <p class="mb-5 font-light text-gray-500 dark:text-gray-400">
                        {{ article["description"]|e }}
                    </p>
                    <div class="flex justify-between items-center">
                        <div class="flex items-center space-x-4">
                            <img class="w-7 h-7 rounded-full"
                                 src="https://i0.wp.com/letmentertainyou.com/wp-content/uploads/2018/05/one-punch-man.jpg?fit=800%2C690&ssl=1"
                                 alt="Bonnie Green avatar"/>
                            <span class="font-medium dark:text-white">
                                  {{ article["auteur"] |e}}
                      </span>
                        </div>
                        <a href="http://localhost:8080/article/{{ article['id']|e }}"
                           class="inline-flex items-center font-medium text-white dark:text-primary-500 hover:underline">
                            Read more
                            <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
</body>
</html>